<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Placements4u | Login</title>
    <style>
        body {
            font-family: 'Recursive', sans-serif;
            font-size: larger;
        }
        
        .customborder {
            border-radius: 2%;
            border: 2px solid #E95420;
        }
    </style>
</head>

<body>

    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://placements4u.github.io/Placement/index.html">Placements4u</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="https://placements4u.github.io/Placement/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar end  -->


    <div class="container">
        <h1 class="text-center p-3">Login Here</h1>


        <form action="/login" , method="POST">
            <% if (success_message != '' ){ %>
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert"> &times; </button>
                    <strong><%= success_message %></strong>
                </div>
                <% } %>
                    <% if(error != '' ){ %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong> <%= error %></strong>
                        </div>
                        <% } %>

                            <input type="hidden">
                            <div class="mb-3">
                                <label for="username">Enter Your Email</label>
                                <input type="email" class="form-control form-control-lg" name="email" id="username" autocomplete="off" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <label for="password">Enter Your Password</label>
                                <input type="password" class="form-control form-control-lg" name="password" id="password" autocomplete="off" placeholder="Password">
                            </div>
                            <div class="d-grid gap-3 mb-3">
                                <input type="submit" class="btn btn-lg btn-block btn-outline-primary" value="Login">

                            </div>
                            <p>New Here ? <a class="card-link" href="/">Register Now</a> </p>
        </form>
    </div>
    </div>

    <!--<div class="cpy-right text-center py-3" style="padding-top: 20em;">-->
    <footer style="padding-top: 20em;">
        <p class="" style="background-color: black; color: white; text-align: center;">©
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script> Placement4u | All rights reserved<br> Designed and Developed by - <a href="https://kishankr7979.github.io/portfolio/" style="color: aqua; text-decoration: none;">Kishan</a>

        </p>
    </footer>
    <!--</div>-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>